body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(cool-background.png);
    background-size: cover;
    background-position: center;
}

.signin-form{
    width: 320px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px 60px 30px;
    background: #fff;
    
}

h1{
    margin: -1px 0px;
    color: #1c8adb;
    font-size: 30px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"]{
    margin: 5px 3px;
    padding: 7px;
    width: 80%;
    border-radius: 30px 60px;
    outline: none;
    border: 1px solid gray;
    font-size: 14px;
}

button{
    background: #1c8adb;
    padding: 6px;
    border: none;
    width: 85%;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

button:hover{
    background: rgb(168, 166, 166);
}

img{
    width: 20%;
}

hr{
    width: 80%;
    margin-top: 20px;
}

.or{
    margin: -19px auto 10px ;
    width: 30%;
    background: #fff;
}

a{
    text-decoration: none;
}

footer{
    color: gray;
    margin-top: 10px;
}
